<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand fw-bold" href="/">📚 Bookstore</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/books">Books</a></li>
        <li class="nav-item"><a class="nav-link" href="/books/search">Search</a></li>
        
        <% if (!user) { %>
          <li class="nav-item"><a class="nav-link" href="/auth/login">Login</a></li>
          <li class="nav-item"><a class="nav-link" href="/auth/signup">Sign Up</a></li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link position-relative" href="/cart">
              <i class="bi bi-cart3"></i> Cart
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger cart-count" style="display: none;">
                0
              </span>
            </a>
          </li>
          <li class="nav-item"><a class="nav-link" href="/orders">My Orders</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
              <i class="bi bi-person-circle"></i> <%= user.username %>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/profile">Profile</a></li>
              <li><a class="dropdown-item" href="/orders">My Orders</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item text-danger" href="/auth/logout">Logout</a></li>
            </ul>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
